<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pageAccueil.css">
    <title>Document</title>
</head>
<body>
        <div class="menu">
            <a class="photo" href="img"><img src="moulin.png" alt="photo logo"></a>
            <h1>
                LE GITE DU MOULIN DE PIERREMONT
            </h1>
            <nav class="boutons">
                <ul>
                    <li><a href="hebergementsClassiques">HÉBERGEMENTS CLASSIQUES</a></li>
                    <li><a href="hebergementsInsolites">HÉBERGEMENTS INSOLITES</a></li>
                    <li><a href="services">SERVICES</a></li>
                    <li><a href="contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>

