*{
    border: solid 1px red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------Barre de Menu------------------ */

.menu{
    width: 100%;
    height: 160px;
    background-color: rgb(141, 210, 231);
    display: flex;
    position: relative;
}

.photo{
    margin-left: 10px;
    width: 10%;
    height: 100%;
    position :absolute
   

}

img{
    width: 100%;
    height: 100%;
}

h1
{
    align-items: center;
    height: 50%;
    width: 90%;
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    display: flex;
}

ul{    
    width: 90%;
    height: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;

}

ul li a
{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(144, 235, 179);
    border: solid black 1px;
    text-decoration: none;
    color: rgb(7, 7, 9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

ul li a:hover{
    background-color: rgb(114, 114, 212);
    color: beige;
    transition: 0,4s;
    -webkit-transition: 0,4s;
    -moz-transition: 0,4s;
    -ms-transition: 0,4s;
    -o-transition: 0,4s;
}

/* -------------------section 1------------------ */

.background {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHEa29yzXHPI5ER30hrBgidh_0Dx8tQUcZMA&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 40px;    
}

.section1
{
    text-align: center;
}

.titreSection1
{
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

/* -------------------section 2------------------ */

.section2
{
    /* padding-left: 10px;
    padding-right: 10px; */
    background-color: burlywood;
    margin-top: 40px;
    /* display: flex;
    justify-content: space-between;
    position: absolute; */
    height: 800px;
    width: 100%;
}


h2
{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 10%;
   align-items: center;
   top: 0;
   /* position: relative; */
    
}

.articles
{
    margin-top: 40px;
    width: 100%;
    height: 80%;
    display: flex;
    /* position: relative; */
    justify-content: space-evenly;
   
}


.piscine, .jacuzzi, .chambre
{
    height: 450px;
    width: 100%;
}


.art1
{
    height: 80%;
    width: 30%;
    /* left: 0; */
    /* position: absolute; */
}

.art2
{
    height: 80%;
    width: 30%;
    /* position: absolute; */
}

.art3
{
    height: 80%;
    width: 30%;
    /* right: 0; */
    /* position: absolute; */
}

/* .art1
{
    height: 90%;
    bottom: 0;
    position: absolute;
} */

.section2 p
{  
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
} 

h3
{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}