<%- include("./partials/header.ejs") %>

    <main>
        <h2 id="h2Contact">Formulaire de contact</h2>
        <form action="/" method="post">
            <fieldset>
                <legend>Patronyme</legend>
                <div>
                    <label for="lastName">Nom</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>

                <div>
                    <label for="firstName">Prénom</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Adresse</legend>
                <div>
                    <label for="street">N° et Libellé de voie</label>
                    <input type="text" id="street" name="street" required>
                </div>

                <div>
                    <label for="zipCode">Code Postal</label>
                    <input type="text" id="zipCode" name="zipCode" maxlength="5" required>
                </div>

                <div>
                    <label for="city">Ville</label>
                    <input type="text" id="city" name="city" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Votre message</legend>
                <div>
                    <label for="description">Descriptif</label>
                    <textarea name="description" id="description" cols="60" rows="10"></textarea>
                </div>
            </fieldset>

            <button>Envoyer</button>
        </form>
    </main>

    </body>

    </html>